#container {
    margin: 10px 50px;
    display: block;
}
.slider {
    position:relative;
    z-index:1;
    width:800px;
    margin: 0px auto;
    height:360px;
    overflow:hidden;
}
.slider .items {
    height:300px;
    display:none;
}
.pic {
    position:relative;
}
.pagination {
    display: block;
    position: absolute;
    align-content: center;
    align-items: center;
    bottom: 0px;
    left: 180px;
}
.pagination li {
    align-content: center;
}
