#footer {
    height: 80px;
    line-height: 80px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    background-color: #2e3033;
    text-align: center;
}
a{
    color: #0096e6;
}
a:hover{
    text-decoration: none;
}