body ul{
    margin: 0px;
    padding: 0px;
    display: block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#main {
    background-color: #fff;
}
#nav {
    background-color: #fff;
    border-color: #16a085;
}
#nav-container {
    height:80px;
    line-height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 30px;
}
#nav-container a{
    font-size: 18px;
    display: inline-block;
    padding: 0px 15px;
}
#logo a {
    float: left;
    color: #000;
}
#logo a img{
    position: relative;
    top: -2px;
    height: 80px;
    width: 80px;
    padding: 0px;
    margin: 0px
}
#nav-chooser a{
    color: #000;
}
#nav-header a:hover{
     background-color: #2a5abe;
}
#nav-header a {
    float: left;
}
#nav-login a {
    border: 1px solid #ec6149;
    border-radius: 20px;
    padding: 0px 20px;
    background-color: #ec6149;
    height: 40px;
    line-height: 40px;
    display: block;
    margin:20px 0px;
    align-content: center;
    float: right;
    margin-left: 10px;
}
#nav-login a:hover{
    border-color: #ec6135;
    background-color: #ec6135;
}
#nav-register a{
    float: right;
}
#nav-register a:hover{
    background-color: #2a5abe;
}