#container{
    width: 100%;
}
.clear {
    clear: both;
}
#start {
    width: 50%;
}
.row{
    width: 100%;
}
#result {
    position: absolute;
    top:80px;
    right:0px;
    width: 50%;
    margin: 0px auto;
}
.closeself{
    position: relative;
    top:-14px;
    right:-6px;
}